/* Place your CSS styles in this file */

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.intro {
    white-space: normal;
    max-width: 50%;
    padding-left: 25%;
    word-wrap: break-word;
}

#pub {
    float:left;
    width: auto;
    border-collapse: separate;
    border-spacing: 0px 30px;
}


#pub td{
  text-align: left;
  padding-top: 0px;
  vertical-align: top;
}

#pub td:nth-child(1){
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  padding-top: 5px;
  width: 100px;
}

#pub td:nth-child(2){
  font-family: "News Cycle", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  width: auto;
}


.pub_button{
  background-color: white; 
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}

.pub_button:hover{
  border: 1px solid maroon;
  color: maroon;
}


.advisor{
  text-decoration: underline dashed maroon 1px;
  color: maroon;
  display: inline;
}

.advisor:hover{
  text-decoration: underline maroon 1px;
}

.me{
  text-decoration: underline black;
  display: inline;
}



.journal_box{
  float: left;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  color: white;
  background-color: maroon;
  width: auto;
  border: 0;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 20px;
  padding-right: 20px;
}


.journal_details{
  font-weight: 400;
}



a{
  color: #800000;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  padding-left: 50%;
  overflow: hidden;
  background-color: white;
}

hr{
  height: 1px;
  background-color: #ebedef;
  border: none;
  }
 
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 


.topnav a:hover {
  background-color: white;
  color: #800000;
}

.topnav a.active {
  background-color: white;
  color: #800000;
  font-weight: bold;
}
