/* Place your CSS styles in this file */

h1 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
}

.intro {
    max-width: 50%;
    padding-left: 25%;
    word-wrap: break-word;
}




.navbar{
  width: 100%;
  height: 6vh;
  background-color: black;
}

.nav{
  width: 30px;
  display: block;
  margin: 0.5em 0 0 0;
}

.nav div{
  height: 4px;
  background-color: gold;
  margin: 5px 0;
  border-radius: 25px;
}


.navdrop {
  float: right;
  padding-right: 28%; 
  overflow: hidden;
}

.navdrop-content {
  display: none;
  position: absolute;
  width: auto;
  z-index: 1;
}

.navdrop-content a {
  float: none;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.navdrop-content a:hover {
  background-color: black;
  color: gold;
  text-decoration: none;
  font-weight: bold;
}


.navdrop:hover .navdrop-content {
  background-color: black;
  color: gold;
  display: block;
}



.details{
  width: 60%; 
  font-family: News Cycle, sans-serif;
  font-weight: 100;
  text-align: justify;
  float: left;
}

.pic_container{
  width: 35%;
  float: right;
}

.pic{
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  width: 200px;
}

#pub {
    float:left;
    width: auto;
    border-collapse: separate;
    border-spacing: 0px 30px;
}


#pub td{
  text-align: left;
  padding-top: 0px;
  vertical-align: top;
}

#pub td:nth-child(1){
  font-family: "News Cycle", sans-serif;
  font-weight: 400;
  padding-top: 5px;
  width: auto;
}

#pub td:nth-child(2){
  font-family: "News Cycle", sans-serif;
  font-weight: 100;
  line-height: 1.5;
  width: auto;
  padding-left: 5%;
}


.pub_button{
  background-color: white; 
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}

.pub_button:hover{
  border: 1px solid goldenrod;
  color: goldenrod;
}





.dropbtn{
  background-color: white; 
  border: 1px solid black;
  border-radius: 2px;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 400;
}


.dropbtn:hover{
  border: 1px solid goldenrod;
  color: goldenrod;
}


.dropdown-content-abstract {
  font-size: 0.35cm;
  display: none;
  position: relative;
  top: 5px;
  margin-bottom: 5px;
  background-color: none;
  width: auto;
  overflow: auto;
  border-style: dashed;
  border-width: thin;
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}


.show {display: block;}


.advisor{
  text-decoration: underline dashed goldenrod 1px;
  color: goldenrod;
  text-underline-offset: 2px;
  display: inline;
}

.advisor:hover{
  text-decoration: underline goldenrod 1px;
}

.me{
  text-decoration: underline black 1px;
  display: inline;
  text-underline-offset: 2px;
}



.journal_box{
  float: left;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  text-align: center;
  font-size: 13px;
  color: black;
  background-color: gold;
  width: auto;
  border: 0;
  margin: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 15px;
  padding-right: 15px;
}


.journal_details{
  font-weight: 400;
}


a{
  color: goldenrod;
  text-decoration:none;
}

a:hover {
  text-decoration: underline;
}


body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  overflow: visible;
  background-color: black;
  position: relative;
  top: 0;
  left: 0;
}

@media (max-width: 800px) {
  .topnav {   
    flex-direction: column;
  }
  .intro {
    max-width: 100%;
    padding: 0;
    align-content: center;
  }
  .pic_container, .details{
    width: 100%;
  }
  #pub td{
    display: table-row;
  }
  .pub_button, .dropbtn{
    margin-right: 2px;
  }
}


hr{
  height: 1px;
  background-color: #ebedef;
  border: none;
  }
 
.topnav a {
  float: left;
  color: gold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} 


.topnav a:hover {
  background-color: black;
  color: gold;
}

.topnav a.active {
  background-color: black;
  color: gold;
  font-weight: bold;
}
